/*Styles for the footer*/
footer {
	background-color:#D2b48c; /*Background color*/
	font-size: .60em; /*Font Size*/
	font-styles: italic; /*Font style*/
	text-align: center; /*Align text to the center */
	padding-bottom: 1em; /*add bottom padding */
	border-top: 2px solid #8C3826; /* Add top border*/
}
/*Table Styles*/
table{
	marging: auto; /* Center the table */
	width: 90% /* Set width to 90% of the container */
	border-spacing: 0; /* Remove spacing between table cells*/
}

th,td {
	padding: 10px; /*add padding to table cells */
}
tr:nth-of-type(odd) {
	background-color: #D2B48E; /* Background color for odd rows*/
}
/*Media Query for Mobile */
@media (min-width: 600px) {
header 